<div class="question-tips-dialog">
    <div class="text-wrap">
        <p>
            是否愿意花<span><%= data.gold %>钻石</span>领取该礼包？
        </p>        
    </div>
    <div class="btn-wrap">
        <span class="btn btn-cancel" i="close">取消</span>
        <span class="btn btn-submit" data-giftid="<%= data.gift_id %>"> 确定</span>
    </div>
</div>