<div class="bind-wx-header">
    <button i='close' class="ui-dialog-close" title="关闭">×</button>
</div>
<div class="bind-wrap ext-small">
    <div id="qrcode" class="qrcode-wrap" data-url="<%= url %>"></div>
    <p class="qrcode-tips">公众号专属礼包 微信扫一扫领号</p>
</div>