<div class="dialog-lotMsg dialog-code">
    <div class="code-wrap">
        <div class="code-img">
            <!--<img src="<%= $data.codeImg %>" alt=""/>-->
        </div>
        <div class="code-again">
            看不清 <br/>
            <span class="change-codeimg">换一张</span>
        </div>
    </div>
    <div class="input-line">
        请输入验证码 : <input class="<%= $data.inputClass %>" type="text" name="_phrase" autofocus/>
    </div>
    <div class="btn-line">
        <!--<span class="<%= $data.submitClass %>" data-giftid="<%= $data.gift_id %>">确 定</span>-->
        <!--<input type="submit" value="确 定" class="<%= $data.submitClass %>" data-giftid="<%= $data.gift_id %>"/>-->
        <span class="<%= $data.submitClass %>" data-giftid="<%= $data.gift_id %>">确 定</span>
    </div>
</div>