<div class="account-login-pop">
    <div class="login">
        <div class="login-main">
            <div class="login-hd">
                <a class="tab-btn active" id="login-btn">登录</a>
                <a class="tab-btn" id="register-btn" href="https://aq.yy.com/p/reg/mobile.do?fromadv=lgn&appid=5764" target="_blank">注册</a>
                <i class="line" id="line"></i>
            </div>
            <div class="login-bd">
                <div class="login-content">
                    <div class="tab-unit" style="display:block;">
                        <div id="login-tab">
                            <h2 class="login-title">帐号登录</h2>
                            <div id="udbsdk_login_content">
                                <div id="udbsdk_login_normal" class="udbsdk_login"  style="display: block;">
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <i class="login-loading"></i>
            </div>
        </div>
        <div class="login-sidebar">
            <h2 class="title">合作账号登录</h2>
            <div class="other-login">
                <a class="login-btn login-btn-wechat clickstat" eid="click/nav/weixinlogin" eid_desc="点击/导航/微信账号登录"><i class="icon"></i>微信帐号登录</a>
                <a class="login-btn login-btn-qq hiido_stat clickstat" hiido_code="10003435" eid="click/nav/qqlogin" eid_desc="点击/导航/QQ账号登录" login-type="qq"><i class="icon"></i>QQ帐号登录</a>
                <a class="login-btn login-btn-weibo hiido_stat clickstat" hiido_code="10003437" eid="click/nav/weibologin" eid_desc="点击/导航/新浪微博登录" login-type="weibo"><i class="icon"></i>微博帐号登录</a>
            </div>
        </div>
    </div>
    <a class="close" title="关闭"></a>
</div>
<div class="account-login-mask" style="display:none;"></div>