<div class="account-login-pop">
    <h2>帐号登录</h2>
    <div class="account-login-cont">
        <div class="account-login-yy"><a href="#" login-type="yy"><i></i>YY账号登录</a></div>
        <div class="account-login-qq"><a href="#" login-type="qq"><i></i>QQ账号登录</a></div>
        <div class="account-login-weibo"><a href="#" login-type="weibo"><i></i>新浪微博登录</a></div>
    </div>
    <a href="#" class="account-login-pop-close">&times;</a>
</div>
<div class="account-login-iframe">
    <iframe src="about:blank" frameborder="0"></iframe>
</div>
<div class="account-login-mask"></div>